header.front-header {
    border-bottom: 1px solid $color-four;
    text-align: center;
    padding: 1em 1em 2.5em;
    @include breakpoint($tablet, $no-query: '.no-mq') {
        padding: 1em 4em 2.5em;
    }
}

.unslider {
    position: relative;
    @include breakpoint($desktop, $no-query: '.no-mq') {
        float: left;
        width: 66.66%;
        height: 400px;
        border-right: 3px solid #fff;
    }

    ol,
    ul {
        padding: 0;
        margin: 0;
    }

    img {
        display: block;
        width: 100%;
    }

    .unslider-carousel li {
        position: relative;
        @include breakpoint($desktop, $no-query: '.no-mq') {
            height: 400px;
        }
    }

    .unslider-nav {
        display: none;
    }

    .caption {
        background: #000;
        bottom: 0;
        width: 100%;
        padding: 1.5em 2em 1.5em 5em;
        @include breakpoint($tablet, $no-query: '.no-mq') {
            position: absolute;
            background: rgba(0, 0, 0, 0.85);
        }

        h3 {
            color: #fff;
            text-transform: uppercase;
            font-size: 2.25em;
            margin: 0;
        }

        a {
            color: $color-two;
            text-transform: uppercase;
            font-size: 1.3em;
            font-weight: 800;
        }
    }

    .unslider-arrow {
        bottom: 50px;
    }

    .unslider-arrow.next {
        @include hide-text;
        background: url('../images/next.png') no-repeat;
        height: 21px;
        width: 14px;
    }

    .unslider-arrow.prev {
        @include hide-text;
        background: url('../images/prev.png') no-repeat;
        height: 21px;
        width: 14px;
    }
}

.delivery,
.top-right-block {

    background: url('../images/top-right-block.jpg') no-repeat;
    @include background-size(cover);
    @include breakpoint($tablet, $no-query: '.no-mq') {
        border-left: 3px solid #fff;
        border-right: 3px solid #fff;
        padding-top: 6.2em;
    }

    /*background: #fff;
    padding: 2em 2em 2em 1.5em;*/
    color: #fff;
    position: relative;
    @include breakpoint($desktop, $no-query: '.no-mq') {
        float: right;
        width: 33.33%;
        height: 400px;
        padding: 2em 1.5em;
        min-height: 380px;
    }
    h5 {
        text-transform: uppercase;
        font-size: 2em;
        margin: 0;
        color: #fff;
        text-shadow: 0 2px 4px rgba(0,0,0,0.50);
        line-height: 1;
        @include breakpoint($tablet, $no-query: '.no-mq') {
            font-size: 2.15em;
        }
        @include breakpoint($desktop, $no-query: '.no-mq') {
            font-size: 2.85em;
        }
    }
    h3 {
        font-size: 1.8em;
        color: #2B578C;
        margin-top: 0;
        text-align: center;
        padding: 0 1em;
        line-height: 1.3;
    }

    a {
        display: block;
        text-transform: uppercase;
        font-size: 1.2em;
        color: #fff;
        font-weight: 700;
        margin-bottom: 0.5em;
        text-decoration: none;
    }

    img {
        margin-right: 0.5em;
    }

    img,
    span {
        display: inline-block;
        vertical-align: middle;
    }

    .phone {
        display: block;
        text-align: center;
        margin: 0 auto -2.3em;
        @include breakpoint($desktop, $no-query: '.no-mq') {
            display: inline-block;
            width: 100%;
            position: absolute;
            margin: 0;
            left: 0;
            bottom: 0;
        }
    }
}

.front-blocks-wrap {
    @include clearfix;
    clear: both;
}

.front-blocks {
    padding: 4em 1em;
    background: #EBEBEB;
    text-align: center;
    border-top: 3px solid #fff;
    @include breakpoint($tablet, $no-query: '.no-mq') {
        float: left;
        width: 33.33%;
        vertical-align: top;
        height: 345px;
        padding: 4.5em 2em 0;
    }

    h5 {
        text-transform: uppercase;
        font-size: 3em;
        margin: 0;
        color: #fff;
        text-shadow: 0 2px 4px rgba(0,0,0,0.50);
        line-height: 1;
        @include breakpoint($tablet, $no-query: '.no-mq') {
            font-size: 3.15em;
        }
        @include breakpoint($desktop, $no-query: '.no-mq') {
            font-size: 3.85em;
        }
    }

    h6 {
        font-family: $alt-font-family;
        font-weight: 300;
        font-style: italic;
        font-size: 3em;
        margin: 0;
        color: #fff;
        text-shadow: 0 2px 4px rgba(0,0,0,0.50);
        @include breakpoint($tablet, $no-query: '.no-mq') {
            font-size: 3.15em;
        }
        @include breakpoint($desktop, $no-query: '.no-mq') {
            font-size: 3.5em;
        }
    }

    a {
        text-decoration: none;
    }

    .btn {
        margin-top: 0.2em;
    }

    &.beer,
    &.bottom-center-block {
        background: url('../images/beer-bg.jpg') no-repeat;
        @include background-size(cover);
        @include breakpoint($tablet, $no-query: '.no-mq') {
            padding-top: 6em;
        }
    }

    &.bottom-left-block,
    &.wine-spirits {
        background: url('../images/bottom-left-block.jpg') no-repeat;
        @include background-size(cover);
        @include breakpoint($tablet, $no-query: '.no-mq') {
            border-left: 3px solid #fff;
            border-right: 3px solid #fff;
            padding-top: 3.2em;
        }
    }

    &.bottom-right-block,
    &.wotw {
        /*padding: 3em 1em 0;
        @include breakpoint($tablet, $no-query: '.no-mq') {
            padding: 3em 2em 0;
        }
        h6 {
            color: #3D3D3D;
            text-shadow: none;
            font-size:2.85em;
            line-height: 1.1;
            margin-bottom: 1.2em;
            -moz-font-feature-settings: "dlig";
            -webkit-font-feature-settings: "dlig";
            font-feature-settings: "dlig";
        }
        img {
            display: block;
            margin: 0 auto;
        }
    }*/
        background: url('../images/bottom-right-block.jpg') no-repeat;
        @include background-size(cover);
        @include breakpoint($tablet, $no-query: '.no-mq') {
            border-left: 3px solid #fff;
            border-right: 3px solid #fff;
            padding-top: 6.2em;
        }
    }
}
