.online-specials {
  .special-item {
    @include clearfix;
    padding: 2em 0em;
    position: relative;
  @include breakpoint($tablet, $no-query: '.no-mq') {
     padding: 2em 2em;
   }
    @include breakpoint($desktop, $no-query: '.no-mq') {
     display: inline-block;
     vertical-align: top;
     width: 49%;
   }
   .special-thumbnail {
     @include breakpoint($phone-lg) {
      margin-right: 2em;
      float: left;
      width: 30%;
    }
    @include breakpoint($tablet, $no-query: '.no-mq') {
      margin-right: 2em;
      float: left;
      width: 30%;
    }
   }
   .special-details {
    overflow: hidden;
   }
   h3 {
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: .55em;
   }
   h6 {
    font-weight: normal;
    font-size: 1.2em;
    margin-top: 0;
   }
   img {
    display: block;
    width: auto;
    margin: 0 auto;
    max-height: 280px;
   }
   .expires {
    color: #D01818;
    .date {
      font-weight: 700;
    }
   }
   .price {
      font-size: 1.3em;
      display: inline-block;
   }
   .reg-price {
    text-decoration: line-through;
    color: #A2A2A2;
   }
   .special-price {
    background: #22C14C;
    font-weight: 700;
    padding: .15em .5em;
    color: #fff;
    margin: 0 .5em;
   }
  }
}
