// Sizes
$large: 150%;
$normal: 100%;
$small: 80%;
$rem: 16px;

// Colors
// Sites Main Colors
$color-one: #212121; // Drk Gray
$color-two: #F6C73B; // Yellow
$color-three: #4563C9; // Blue
$color-four: #E2E2E2; // Grey

// Regions - Use Site Main Colors variables for these if they fit
$nav-bg: #fff;
$site-bg: #fff;
$main-bg: #fff;
$footer-bg: #F8F9FA;

// Typography
$body-copy-color: #424242;
$heading-color  : #1C242B;
$link           : $color-one;
$visited        : $color-one;
$hover          : lighten($link, 5%);
$full-page-link : #CF2A2B;

/* validation Colors */
$error: #E84141; // Red
$valid: #2D9E59; // Green
$warning: #FCD156; // Yellow
$focus: #84D097; // Green

// Misc
$white: #fff;
$black: #000;
$table-row-odd: #F7F7F7;
$table-row-even: #fff;
$selection-bg   : #66B360;
$selection      : $white;
$inherit: inherit;

// Layout Settings
@include add-grid(12);
@include add-gutter(1/3);
$sidebar_first_columns  : 3;
$sidebar_second_columns : 3;

//Layout Variables
$container_width: 1200px;
$phone: 0 767px;
$phone-lg: 480px 768px;
$tablet-down: 0 979px;
$tablet: 768px;
$desktop: 980px;
$lg-desktop: 1200px;
$no-query: 678px, 'no-query' '.no-mq';
$breakpoint-no-query-fallbacks: true;
$breakpoint-to-ems: true;
$breakpoints: '';
