<footer class="site-footer">
  <div class="wrap">
    <div class="hours-section editable" >
      <h5>Hours</h5>
      <span class="days">MON - THURS</span><span class="hours">8:30am - 10:30pm</span>
      <span class="days">FRI - SAT</span><span class="hours">8:30am - 11:30pm</span>
      <span class="days">SUN</span><span class="hours">10:00am - 6:00pm</span>
    </div>
    <div class="location-section editable">
      <h5>Location</h5>
      <p>2024 35th Ave, <br>Greeley, CO 80634</p>
    </div>
    <div class="facebook-section">
      <a href="https://www.facebook.com/WestlakeWine/?rf=142061025834201" target="_blank">
        <img src="/assets/images/facebook.svg" />
        <h5>Like Us On Facebook</h5>
      </a>
    </div>

    <div class="left">
      <span>Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.
      </span>
    </div>
    <div class="right">
      <span>Website by: <a href="https://www.variantstudios.com">Variant Studios</a></span>
    </div>
  </div>
</footer>
