<header itemscope class="wrap site-header clearfix">
    <div class="logo-section">
      <a href="/"><img class="site-logo" src="/assets/images/logo.png" alt="{{site.title}}" itemprop="logo" /></a>
    </div>
    <div class="hours-location">
      <div class="hours">
        <div class="open-close"></div>
        <span class="hours-today"></span>
      </div>
      <div class="phone editable">(970) 330-8466</div>
      <div class="location editable">
        <p>2024 35th Ave,<br />Greeley, CO 80634&nbsp;</p>
      </div>
    </div>
    <div class="navigation-wrap">
      <div class="menu-btn">Menu</div>
      <nav class="top-nav" id="top-menu" role="navigation">
        {% include top-nav.html nav=site.data.top-menu %}
      </nav>
      <nav class="main-nav" id="menu" role="navigation">
        {% include nav.html nav=site.data.menu %}
      </nav>
    </div>
</header>
