<div id="hours" name="#Hours">
  <span class="close-section">X</span>
  <div class="top-hours-section editable" >
      <div class="range1 date-range">
        <span class="days">MON - THURS</span><span class="hours">8:30am - 10:30pm</span>
      </div>
      <div class="range2 date-range">
        <span class="days">FRI - SAT</span><span class="hours">8:30am - 11:30pm</span>
      </div> 
      <div class="range3 date-range">
        <span class="days">SUN</span><span class="hours">10:00am - 6:00pm</span>
      </div>
    </div>
</div>