#edit-link {
  margin: 0em 0 2em;
  a {
    color: #fff;
    display: inline-block;
    background-image: linear-gradient(-180deg,#E0E0E0 0,#C3C3C3 100%);
    @include border-radius(3px);
    font-weight: 700;
    padding: .2em .5em;
    text-decoration: none;
    img, span {
      display: inline-block !important;
      vertical-align: middle;
    }
  }

}

.not-admin {
  #edit-link {
    display: none;
  }
}