.browserupgrade {
  color: black;
  border-bottom: 1px solid #F55A00;
  padding: 5px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #FDF2AB url(../images/dialog-warning.gif) no-repeat 1em 0.55em;
  a { color: #F55A00; }
}