#hours {
  height: 300px;
  background: $color-two;
  margin-top: -300px;
  padding: 3em 1em 0;
  text-align: center;
  font-size: 1.15em;
  color: #fff;
  position: relative;
  @include transition(all .25s ease-in-out);
  @include breakpoint($tablet, $no-query: ".no-mq") {
    padding: 2em 1em 0;
    font-size: 1.75em;
  }
  .days {
    font-weight: 700;
    padding-right: 1em;
  }
  .date-range {
    padding-bottom: .5em;
  }
  .close-section {
    display: block;
    background: $color-three;
    width: 50px;
    height: 50px;
    line-height: 2.55;
    border-radius: 50%;
    cursor: pointer;
    line-height: 3.15;
    margin: 0 auto 2em;
    @include breakpoint($tablet, $no-query: ".no-mq") {
       position: absolute;
      line-height: 1.8;
      right: 40px;
      top: 30px;
    }
  }
}
.hours-open {
  #hours {
    @include transition(all .25s ease-in-out);
    margin-top: 0;
  }
}

.hours-location {
    text-align: center;
    margin: 1em 1em 0;
    font-size: 1.1em;
    @include breakpoint($tablet, $no-query: ".no-mq") {
      text-align: right;
    }
    @include breakpoint($desktop, $no-query: ".no-mq") {
      text-align: left;
    }
}

.were-open {
  text-transform: uppercase;
  color: #549E31;
  font-weight: 700;
  display: inline-block;
}
.were-closed {
  text-transform: uppercase;
  color: #9E3131;
  font-weight: 700;
}