nav.top-nav {
    text-transform: uppercase;
    font-size: 100%;
    padding-top: 1em;
    display: block;
    @include breakpoint($tablet, $no-query: ".no-mq") {
        padding-top: 0;
    }
    ul {
        padding: 0;
        width: 100%;
        font-size: 90%;
        margin: .15em 0 0;
        @include breakpoint($tablet, $no-query: ".no-mq") {
            margin: 0 auto 0;
            padding: 1em 0 0;
            width: 100%;
            box-shadow: none;
            background: none;
            position: relative;
            left: auto;
            top: auto;
            font-size: 100%;
        }
        @include breakpoint($desktop, $no-query: ".no-mq") {
            margin: 0 auto;
            text-align: right;
            padding: 0;
        }
    }
    li.leaf, li, li.expanded {
        list-style: none;
        padding: .5em .5em;
        margin: 0;
        position: relative;
        border-bottom: 1px solid #D2D2D2;
        @include breakpoint($tablet, $no-query: ".no-mq") {
            padding: .5em .6em;
            font-size: 90%;
            border-bottom: 0;
        }
        @include breakpoint($desktop) {
            padding: .5em .75em;
            font-size: 100%;
        }
        @include breakpoint($tablet, $no-query: ".no-mq") {
            display: inline-block;
        }
    }
    a, a:visited, a:link {
        color: #979FA8;
        text-decoration: none;
        &.active {
            color: $link;
            @include breakpoint($tablet, $no-query: ".no-mq") {
                border-bottom: 2px solid $heading-color;
            }
        }
    }
}
