/* validation Colors */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

html {
  font: normal 85%/1.65 "proxima-nova", Helvetica, Arial, Verdana, sans-serif;
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
}
@media (min-width: 48em) {
  html {
    font: normal 100%/1.65 "proxima-nova", Helvetica, Arial, Verdana, sans-serif;
  }
}
.no-mq html {
  font: normal 100%/1.65 "proxima-nova", Helvetica, Arial, Verdana, sans-serif;
}

body {
  color: #424242;
}

p {
  margin: auto auto 1em;
  margin-bottom: 10px;
  line-height: 1.7;
}
p + p {
  margin-top: -0.5em;
}

blockquote {
  font-size: 95%;
  font-style: italic;
  line-height: 1.8;
}

.quote {
  width: 25px;
  height: 25px;
  float: left;
  margin: 0;
}
@media (min-width: 48em) {
  .quote {
    margin: 0 10px 0 0;
  }
}
.no-mq .quote {
  margin: 0 10px 0 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

@media (min-width: 0) and (max-width: 47.9375em) {
  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.65em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.15em;
  }

  h6 {
    font-size: 1em;
  }
}
h1, h2, h3, h4, h5, h6 {
  color: #1c242b;
  font-weight: 800;
  margin: 16px 0;
  line-height: 1.4;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #1c242b;
}

.subtitle {
  font-style: italic;
  font-family: "proxima-nova", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.2em;
}

a {
  color: #212121;
  text-decoration: none;
}
a:hover {
  color: #2e2e2e;
  text-decoration: underline;
}
a:visited {
  color: #212121;
}

.btn a {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.25em;
  background: #f6c73b;
  border-radius: 40px;
  color: #fff;
  padding: .2em 1.75em;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

img {
  max-width: 100%;
  height: auto;
}

input[type="text"], input[type="email"], input[type="name"], input[type="password"], input[type="file"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em 1em;
  font-size: 100%;
  font-family: "proxima-nova", Helvetica, Arial, Verdana, sans-serif;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
}
input[type="text"]:active, input[type="text"]:focus, input[type="email"]:active, input[type="email"]:focus, input[type="name"]:active, input[type="name"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="file"]:active, input[type="file"]:focus {
  border: 1px solid #212121;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em;
  font-size: 100%;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  font-family: "proxima-nova", Helvetica, Arial, Verdana, sans-serif;
}
textarea:active, textarea:focus {
  border: 1px solid #212121;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

input[type="submit"] {
  background-color: #999999;
  border: 1px solid #6286bd;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  padding: .75em 1.5em;
  font-size: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #52bad5), color-stop(100%, #5276a0));
  background-image: -webkit-linear-gradient(top, #52bad5 0%, #5276a0 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#52bad5), to(#5276a0));
  background: -webkit-linear-gradient(top, #52bad5 0%, #5276a0 100%);
  background: linear-gradient(to bottom, #52bad5 0%, #5276a0 100%);
  font-family: "proxima-nova", Helvetica, Arial, Verdana, sans-serif;
}
input[type="submit"]:hover {
  background-color: #8c8c8c;
  border: 1px solid #5078b5;
}

form label {
  color: #1c242b;
  font-weight: normal;
  font-size: 110%;
  padding-bottom: .5em;
}
form .description {
  font-size: 85%;
  margin: 1em 0;
}

fieldset {
  border-radius: 3px;
  padding: 1em 1.5em;
}
fieldset .fieldset-legend a {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr {
  padding: 0;
}
table tr.odd {
  background-color: #f7f7f7;
  border-bottom: 0;
}
table tr.even {
  background-color: white;
  border-bottom: 0;
}
table td {
  padding: 0.5em 2em;
  margin: 0;
}

table.sticky-enabled thead th, table.sticky-header thead th {
  border-bottom: 3px solid #212121;
  padding: 1em 0 1em 2em;
}

ul.pager {
  margin: 1em 0 0;
  padding: 1em 0 0;
  border-top: 1px solid #f5c023;
}
ul.pager li {
  display: inline-block;
  list-style: none;
  padding-right: .5em;
  color: #212121;
}
ul.pager li a:visited {
  color: #212121;
}

.pagination {
  text-align: center;
  width: 100%;
  border-top: 1px solid #e2e2e2;
}
.pagination a {
  margin: 1em .5em 0;
  letter-spacing: 0;
  -webkit-transition: .2s;
          transition: .2s;
  display: inline-block;
  text-decoration: none;
}
.pagination a:hover, .pagination a:active {
  letter-spacing: 1px;
}
.pagination span {
  margin: 1em .5em 0;
  color: #e2e2e2;
}
.pagination .newer, .pagination .older {
  width: 80px;
}
.pagination .newer {
  float: left;
}
.pagination .older {
  float: right;
}

.no-border {
  border: none !important;
}

main, section, aside {
  display: block;
}

.breadcrumb {
  padding: 0;
  text-transform: uppercase;
  font-size: 90%;
}
.breadcrumb a {
  text-decoration: none;
  color: #1c242b;
  padding: 0;
}

.logo-section {
  text-align: center;
}
@media (min-width: 48em) {
  .logo-section {
    float: none;
    width: auto;
  }
}
.no-mq .logo-section {
  float: none;
  width: auto;
}

nav.main-nav {
  text-transform: uppercase;
  font-size: 110%;
  display: block;
  font-weight: bold;
}
nav.main-nav ul {
  padding: 0em 0 0;
  width: 100%;
  font-size: 90%;
  margin: .15em 0 0;
}
@media (min-width: 48em) {
  nav.main-nav ul {
    margin: 0em auto;
    width: 100%;
    background: none;
    position: relative;
    left: auto;
    top: auto;
    font-size: 100%;
  }
}
.no-mq nav.main-nav ul {
  margin: 0em auto;
  width: 100%;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  font-size: 100%;
}
@media (min-width: 61.25em) {
  nav.main-nav ul {
    text-align: right;
  }
}
.no-mq nav.main-nav ul {
  text-align: right;
}
nav.main-nav ul li {
  text-align: left;
  color: white;
}
nav.main-nav ul li ul {
  position: relative;
  top: 0;
  padding: .5em 2em;
  width: 100%;
  font-size: 110%;
  background-color: transparent;
  opacity: 1;
  visibility: visible;
  -webkit-box-shadow: 0px 0px 0px transparent;
  box-shadow: 0px 0px 0px transparent;
}
nav.main-nav ul li ul li {
  margin: .25em 0;
}
@media (min-width: 48em) {
  nav.main-nav ul li {
    color: #212121;
    border: none;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
  }
  nav.main-nav ul li ul {
    position: absolute;
    top: 150%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
  }
  nav.main-nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
  nav.main-nav ul li:hover ul {
    -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: -5px;
    top: 110%;
    left: 0;
    opacity: 1;
    width: 150px;
    visibility: visible;
  }
  nav.main-nav ul li:hover ul li {
    display: block;
    padding: 10px;
  }
}
.no-mq nav.main-nav ul li {
  color: #212121;
  border: none;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.no-mq nav.main-nav ul li ul {
  position: absolute;
  top: 150%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.no-mq nav.main-nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.no-mq nav.main-nav ul li:hover ul {
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: -5px;
  top: 110%;
  left: 0;
  opacity: 1;
  width: 150px;
  visibility: visible;
}
.no-mq nav.main-nav ul li:hover ul li {
  display: block;
  padding: 10px;
}
nav.main-nav li.leaf, nav.main-nav li, nav.main-nav li.expanded {
  list-style: none;
  padding: .5em .5em;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #D2D2D2;
}
@media (min-width: 48em) {
  nav.main-nav li.leaf, nav.main-nav li, nav.main-nav li.expanded {
    padding: .5em .5em;
    font-size: 90%;
    border-bottom: 0;
  }
}
.no-mq nav.main-nav li.leaf, .no-mq nav.main-nav li, .no-mq nav.main-nav li.expanded {
  padding: .5em .5em;
  font-size: 90%;
  border-bottom: 0;
}
@media (min-width: 61.25em) {
  nav.main-nav li.leaf, nav.main-nav li, nav.main-nav li.expanded {
    padding: .5em .65em;
    font-size: 100%;
  }
}
.no-mq nav.main-nav li.leaf, .no-mq nav.main-nav li, .no-mq nav.main-nav li.expanded {
  padding: .5em .65em;
  font-size: 100%;
}
nav.main-nav li.leaf li, nav.main-nav li li, nav.main-nav li.expanded li {
  padding: 0;
  font-size: 85%;
  border-bottom: 0;
}
@media (min-width: 48em) {
  nav.main-nav li.leaf, nav.main-nav li, nav.main-nav li.expanded {
    display: inline-block;
  }
}
.no-mq nav.main-nav li.leaf, .no-mq nav.main-nav li, .no-mq nav.main-nav li.expanded {
  display: inline-block;
}
nav.main-nav a, nav.main-nav a:visited, nav.main-nav a:link {
  color: #000000;
  text-decoration: none;
}
nav.main-nav a.active, nav.main-nav a:visited.active, nav.main-nav a:link.active {
  color: #212121;
}
@media (min-width: 48em) {
  nav.main-nav a.active, nav.main-nav a:visited.active, nav.main-nav a:link.active {
    border-bottom: 2px solid #1c242b;
  }
}
.no-mq nav.main-nav a.active, .no-mq nav.main-nav a:visited.active, .no-mq nav.main-nav a:link.active {
  border-bottom: 2px solid #1c242b;
}

@media (min-width: 0) and (max-width: 47.9375em) {
  nav.top-nav ul.hide {
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
}

.menu-btn {
  margin: 2em 0em 0 0;
  color: white;
  border: 2px solid white;
  padding: .5em 1.25em;
  font-size: 1.1em;
  background: #f6c73b;
  outline: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-weight: normal;
}
.menu-btn:before {
  content: "\f0c9";
  font-family: FontAwesome;
  padding-right: .5em;
}
@media (min-width: 48em) {
  .menu-btn {
    display: none;
  }
}
.no-mq .menu-btn {
  display: none;
}

.menu-btn.close {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background: #AE131A;
}
.menu-btn.close:before {
  content: "\f00d";
}

@media (min-width: 48em) {
  #menu {
    visibility: visible;
  }
}
.no-mq #menu {
  visibility: visible;
}

@media (min-width: 48em) {
  #mobile-menu {
    visibility: hidden;
  }
}
.no-mq #mobile-menu {
  visibility: hidden;
}

.navigation-wrap {
  clear: both;
}
.navigation-wrap:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 48em) {
  .navigation-wrap {
    clear: none;
  }
}
.no-mq .navigation-wrap {
  clear: none;
}
.navigation-wrap nav.hide {
  display: none;
}
@media (min-width: 48em) {
  .navigation-wrap nav.hide {
    display: block;
  }
}
.no-mq .navigation-wrap nav.hide {
  display: block;
}

nav.top-nav {
  text-transform: uppercase;
  font-size: 100%;
  padding-top: 1em;
  display: block;
}
@media (min-width: 48em) {
  nav.top-nav {
    padding-top: 0;
  }
}
.no-mq nav.top-nav {
  padding-top: 0;
}
nav.top-nav ul {
  padding: 0;
  width: 100%;
  font-size: 90%;
  margin: .15em 0 0;
}
@media (min-width: 48em) {
  nav.top-nav ul {
    margin: 0 auto 0;
    padding: 1em 0 0;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: none;
    position: relative;
    left: auto;
    top: auto;
    font-size: 100%;
  }
}
.no-mq nav.top-nav ul {
  margin: 0 auto 0;
  padding: 1em 0 0;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  position: relative;
  left: auto;
  top: auto;
  font-size: 100%;
}
@media (min-width: 61.25em) {
  nav.top-nav ul {
    margin: 0 auto;
    text-align: right;
    padding: 0;
  }
}
.no-mq nav.top-nav ul {
  margin: 0 auto;
  text-align: right;
  padding: 0;
}
nav.top-nav li.leaf, nav.top-nav li, nav.top-nav li.expanded {
  list-style: none;
  padding: .5em .5em;
  margin: 0;
  position: relative;
  border-bottom: 1px solid #D2D2D2;
}
@media (min-width: 48em) {
  nav.top-nav li.leaf, nav.top-nav li, nav.top-nav li.expanded {
    padding: .5em .6em;
    font-size: 90%;
    border-bottom: 0;
  }
}
.no-mq nav.top-nav li.leaf, .no-mq nav.top-nav li, .no-mq nav.top-nav li.expanded {
  padding: .5em .6em;
  font-size: 90%;
  border-bottom: 0;
}
@media (min-width: 61.25em) {
  nav.top-nav li.leaf, nav.top-nav li, nav.top-nav li.expanded {
    padding: .5em .75em;
    font-size: 100%;
  }
}
@media (min-width: 48em) {
  nav.top-nav li.leaf, nav.top-nav li, nav.top-nav li.expanded {
    display: inline-block;
  }
}
.no-mq nav.top-nav li.leaf, .no-mq nav.top-nav li, .no-mq nav.top-nav li.expanded {
  display: inline-block;
}
nav.top-nav a, nav.top-nav a:visited, nav.top-nav a:link {
  color: #979FA8;
  text-decoration: none;
}
nav.top-nav a.active, nav.top-nav a:visited.active, nav.top-nav a:link.active {
  color: #212121;
}
@media (min-width: 48em) {
  nav.top-nav a.active, nav.top-nav a:visited.active, nav.top-nav a:link.active {
    border-bottom: 2px solid #1c242b;
  }
}
.no-mq nav.top-nav a.active, .no-mq nav.top-nav a:visited.active, .no-mq nav.top-nav a:link.active {
  border-bottom: 2px solid #1c242b;
}

.soc {
  margin: 1em 0;
  width: 250px;
}
.soc:after {
  content: "";
  display: table;
  clear: both;
}

img.soc-logo {
  float: left;
  width: 45px;
  margin-right: 1em;
}

.soc-text {
  font-size: 1.1em;
  overflow: hidden;
  margin: 0;
  padding-top: 8px;
}

.right-soc {
  padding: .5em .5em .5em 0;
  float: none;
  width: 100%;
}
@media (min-width: 48em) {
  .right-soc {
    padding: 6em .5em 0;
    float: right;
    width: 30%;
  }
}
.no-mq .right-soc {
  padding: 6em .5em 0;
  float: right;
  width: 30%;
}

#hours {
  height: 300px;
  background: #f6c73b;
  margin-top: -300px;
  padding: 3em 1em 0;
  text-align: center;
  font-size: 1.15em;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
@media (min-width: 48em) {
  #hours {
    padding: 2em 1em 0;
    font-size: 1.75em;
  }
}
.no-mq #hours {
  padding: 2em 1em 0;
  font-size: 1.75em;
}
#hours .days {
  font-weight: 700;
  padding-right: 1em;
}
#hours .date-range {
  padding-bottom: .5em;
}
#hours .close-section {
  display: block;
  background: #4563c9;
  width: 50px;
  height: 50px;
  line-height: 2.55;
  border-radius: 50%;
  cursor: pointer;
  line-height: 3.15;
  margin: 0 auto 2em;
}
@media (min-width: 48em) {
  #hours .close-section {
    position: absolute;
    line-height: 1.8;
    right: 40px;
    top: 30px;
  }
}
.no-mq #hours .close-section {
  position: absolute;
  line-height: 1.8;
  right: 40px;
  top: 30px;
}

.hours-open #hours {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  margin-top: 0;
}

.hours-location {
  text-align: center;
  margin: 1em 1em 0;
  font-size: 1.1em;
}
@media (min-width: 48em) {
  .hours-location {
    text-align: right;
  }
}
.no-mq .hours-location {
  text-align: right;
}
@media (min-width: 61.25em) {
  .hours-location {
    text-align: left;
  }
}
.no-mq .hours-location {
  text-align: left;
}

.were-open {
  text-transform: uppercase;
  color: #549E31;
  font-weight: 700;
  display: inline-block;
}

.were-closed {
  text-transform: uppercase;
  color: #9E3131;
  font-weight: 700;
}

.browserupgrade {
  color: black;
  border-bottom: 1px solid #F55A00;
  padding: 5px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fdf2ab url(../images/dialog-warning.gif) no-repeat 1em 0.55em;
}
.browserupgrade a {
  color: #F55A00;
}

.post-date {
  color: #212121;
  line-height: 15px;
  display: block;
}

a.view-more {
  display: inline-block;
  padding: 0;
  color: #f6c73b;
  font-size: .9em;
}

#edit-link {
  margin: 0em 0 2em;
}
#edit-link a {
  color: #fff;
  display: inline-block;
  background-image: -webkit-linear-gradient(270deg, #e0e0e0 0%, #c3c3c3 100%);
  background-image: linear-gradient(-180deg, #e0e0e0 0%, #c3c3c3 100%);
  border-radius: 3px;
  font-weight: 700;
  padding: .2em .5em;
  text-decoration: none;
}
#edit-link a img, #edit-link a span {
  display: inline-block !important;
  vertical-align: middle;
}

.not-admin #edit-link {
  display: none;
}

.give-us-call {
  display: inline-block;
  margin: 0em 0 2em;
  background: #4563c9;
  border-radius: 30px;
  color: #fff;
}
@media (min-width: 48em) {
  .give-us-call {
    float: right;
    margin: -3.5em 0 3em;
  }
}
.no-mq .give-us-call {
  float: right;
  margin: -3.5em 0 3em;
}
.give-us-call span {
  padding: .5em 1em .5em 1em;
  display: inline-block;
}
@media (min-width: 48em) {
  .give-us-call span {
    padding: .5em 1em .5em 1.5em;
  }
}
.no-mq .give-us-call span {
  padding: .5em 1em .5em 1.5em;
}
.give-us-call .number-call {
  background: #f6c73b;
  border-radius: 30px;
  font-weight: 700;
  padding: .5em 1.5em;
  margin-right: -2px;
}
.give-us-call i {
  display: none;
  font-size: 1.2em;
  vertical-align: middle;
  padding-right: .5em;
}
@media (min-width: 48em) {
  .give-us-call i {
    display: inline-block;
  }
}
.no-mq .give-us-call i {
  display: inline-block;
}

.contact-form iframe {
  margin: 1em 0;
}

div#form-message {
  background: #eaeaea;
  padding: 1em;
  margin: 0 0 1em 0;
  font-weight: 700;
  border-radius: 3px;
  display: none;
}

div#fail {
  font-weight: 700;
  color: red;
  margin-top: 1em;
  display: none;
}
div#fail p {
  margin: 0;
}

.webform-component {
  margin-bottom: 1em;
}

.g-recaptcha {
  margin-bottom: 2em;
}

.about-us iframe {
  margin: 2em 0 0;
}

@media (min-width: 48em) {
  .pp-image {
    float: right;
    width: 50%;
    padding: 0 1em 1em;
  }
}
.no-mq .pp-image {
  float: right;
  width: 50%;
  padding: 0 1em 1em;
}

footer {
  padding: 1em 0 2em;
  font-size: 110%;
  background: #f8f9fa;
  position: relative;
  z-index: 3;
}
footer:after {
  content: "";
  display: table;
  clear: both;
}
footer h5 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.75em;
}
footer .hours-section .days {
  font-weight: 700;
  display: block;
}
@media (min-width: 61.25em) {
  footer .hours-section .days {
    width: 150px;
    display: inline-block;
  }
}
.no-mq footer .hours-section .days {
  width: 150px;
  display: inline-block;
}
@media (min-width: 48em) {
  footer .hours-section {
    width: 31.91489%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
.no-mq footer .hours-section {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
@media (min-width: 48em) {
  footer .location-section {
    width: 31.91489%;
    float: left;
    margin-right: -100%;
    margin-left: 34.04255%;
    clear: none;
  }
}
.no-mq footer .location-section {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 34.04255%;
  clear: none;
}
footer .facebook-section {
  margin-top: 1em;
}
@media (min-width: 48em) {
  footer .facebook-section {
    width: 31.91489%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
.no-mq footer .facebook-section {
  width: 31.91489%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
footer .facebook-section a {
  text-decoration: none;
}
footer .facebook-section img {
  float: left;
  margin-right: 1em;
}
footer .facebook-section h5 {
  overflow: hidden;
  color: #3D5E96;
  margin: 0;
}
footer .left {
  clear: both;
  padding-top: 3em;
  text-transform: uppercase;
  font-size: .9em;
}
@media (min-width: 48em) {
  footer .left {
    float: left;
  }
}
.no-mq footer .left {
  float: left;
}
footer .right {
  padding-top: 1em;
  text-transform: uppercase;
  font-size: .9em;
}
@media (min-width: 48em) {
  footer .right {
    padding-top: 3em;
    float: right;
  }
}
.no-mq footer .right {
  padding-top: 3em;
  float: right;
}

header.site-header {
  margin: 0 auto;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: block;
}
header.site-header:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 48em) {
  .logo-section {
    width: 31.91489%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
.no-mq .logo-section {
  width: 31.91489%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
@media (min-width: 61.25em) {
  .logo-section {
    width: 18.29787%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
.no-mq .logo-section {
  width: 18.29787%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

@media (min-width: 48em) {
  .hours-location {
    width: 48.93617%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
.no-mq .hours-location {
  width: 48.93617%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
@media (min-width: 61.25em) {
  .hours-location {
    width: 19.14894%;
    float: left;
    margin-right: -100%;
    margin-left: 20.42553%;
    clear: none;
    font-size: .9em;
  }
}
.no-mq .hours-location {
  width: 19.14894%;
  float: left;
  margin-right: -100%;
  margin-left: 20.42553%;
  clear: none;
  font-size: .9em;
}

.top-nav {
  clear: both;
}
@media (min-width: 61.25em) {
  .top-nav {
    width: 61.70213%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
.no-mq .top-nav {
  width: 61.70213%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

@media (min-width: 61.25em) {
  .main-nav {
    width: 61.70213%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
.no-mq .main-nav {
  width: 61.70213%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.location p {
  line-height: 1.4;
}

.phone {
  margin: .2em 0 .5em;
}

.content-wrapper {
  background-color: white;
  background-image: -webkit-linear-gradient(90deg, #f7f7f7 0%, #ebebeb 63%);
  background-image: linear-gradient(0deg, #f7f7f7 0%, #ebebeb 63%);
  margin: 0 auto;
  position: relative;
}
.content-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.content-wrapper:after {
  content: '';
  position: absolute;
  background: url("../images/bg.png") repeat;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  display: block;
}
.content-wrapper main {
  background: #fff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.47);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.47);
  padding: 2em;
  position: relative;
  z-index: 2;
}
.content-wrapper.front main {
  padding: 0;
}

@media (min-width: 48em) {
  .sidebar {
    width: 27.65957%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
.no-mq .sidebar {
  width: 27.65957%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.sidebar h2 {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: .5em;
}
.sidebar h2.soc-text {
  border: none;
}

@media (min-width: 48em) {
  .sidebar-first {
    width: 27.65957%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
.no-mq .sidebar-first {
  width: 27.65957%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.sidebar-block {
  margin-bottom: 2em;
  border-bottom: 1px solid #e2e2e2;
}
.sidebar-block h3 {
  margin: 0;
}
.sidebar-block:last-child {
  border: none;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html body {
  background: white;
  height: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}
@media (min-width: 48em) {
  .wrap {
    padding: 0 2em;
  }
}
.no-mq .wrap {
  padding: 0 2em;
}

.online-specials .special-item {
  padding: 2em 0em;
  position: relative;
}
.online-specials .special-item:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 48em) {
  .online-specials .special-item {
    padding: 2em 2em;
  }
}
.no-mq .online-specials .special-item {
  padding: 2em 2em;
}
@media (min-width: 61.25em) {
  .online-specials .special-item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
}
.no-mq .online-specials .special-item {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
@media (min-width: 30em) and (max-width: 48em) {
  .online-specials .special-item .special-thumbnail {
    margin-right: 2em;
    float: left;
    width: 30%;
  }
}
@media (min-width: 48em) {
  .online-specials .special-item .special-thumbnail {
    margin-right: 2em;
    float: left;
    width: 30%;
  }
}
.no-mq .online-specials .special-item .special-thumbnail {
  margin-right: 2em;
  float: left;
  width: 30%;
}
.online-specials .special-item .special-details {
  overflow: hidden;
}
.online-specials .special-item h3 {
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: .55em;
}
.online-specials .special-item h6 {
  font-weight: normal;
  font-size: 1.2em;
  margin-top: 0;
}
.online-specials .special-item img {
  display: block;
  width: auto;
  margin: 0 auto;
  max-height: 280px;
}
.online-specials .special-item .expires {
  color: #D01818;
}
.online-specials .special-item .expires .date {
  font-weight: 700;
}
.online-specials .special-item .price {
  font-size: 1.3em;
  display: inline-block;
}
.online-specials .special-item .reg-price {
  text-decoration: line-through;
  color: #A2A2A2;
}
.online-specials .special-item .special-price {
  background: #22C14C;
  font-weight: 700;
  padding: .15em .5em;
  color: #fff;
  margin: 0 .5em;
}

header.front-header {
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
  padding: 1em 1em 2.5em;
}
@media (min-width: 48em) {
  header.front-header {
    padding: 1em 4em 2.5em;
  }
}
.no-mq header.front-header {
  padding: 1em 4em 2.5em;
}

.unslider {
  position: relative;
}
@media (min-width: 61.25em) {
  .unslider {
    float: left;
    width: 66.66%;
    height: 400px;
    border-right: 3px solid #fff;
  }
}
.no-mq .unslider {
  float: left;
  width: 66.66%;
  height: 400px;
  border-right: 3px solid #fff;
}
.unslider ol,
.unslider ul {
  padding: 0;
  margin: 0;
}
.unslider img {
  display: block;
  width: 100%;
}
.unslider .unslider-carousel li {
  position: relative;
}
@media (min-width: 61.25em) {
  .unslider .unslider-carousel li {
    height: 400px;
  }
}
.no-mq .unslider .unslider-carousel li {
  height: 400px;
}
.unslider .unslider-nav {
  display: none;
}
.unslider .caption {
  background: #000;
  bottom: 0;
  width: 100%;
  padding: 1.5em 2em 1.5em 5em;
}
@media (min-width: 48em) {
  .unslider .caption {
    position: absolute;
    background: rgba(0, 0, 0, 0.85);
  }
}
.no-mq .unslider .caption {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
}
.unslider .caption h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.25em;
  margin: 0;
}
.unslider .caption a {
  color: #f6c73b;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 800;
}
.unslider .unslider-arrow {
  bottom: 50px;
}
.unslider .unslider-arrow.next {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  background: url("../images/next.png") no-repeat;
  height: 21px;
  width: 14px;
}
.unslider .unslider-arrow.prev {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  background: url("../images/prev.png") no-repeat;
  height: 21px;
  width: 14px;
}

.delivery,
.top-right-block {
  background: url("../images/top-right-block.jpg") no-repeat;
  background-size: cover;
  /*background: #fff;
  padding: 2em 2em 2em 1.5em;*/
  color: #fff;
  position: relative;
}
@media (min-width: 48em) {
  .delivery,
  .top-right-block {
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    padding-top: 6.2em;
  }
}
.no-mq .delivery, .no-mq
.top-right-block {
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  padding-top: 6.2em;
}
@media (min-width: 61.25em) {
  .delivery,
  .top-right-block {
    float: right;
    width: 33.33%;
    height: 400px;
    padding: 2em 1.5em;
    min-height: 380px;
  }
}
.no-mq .delivery, .no-mq
.top-right-block {
  float: right;
  width: 33.33%;
  height: 400px;
  padding: 2em 1.5em;
  min-height: 380px;
}
.delivery h5,
.top-right-block h5 {
  text-transform: uppercase;
  font-size: 2em;
  margin: 0;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1;
}
@media (min-width: 48em) {
  .delivery h5,
  .top-right-block h5 {
    font-size: 2.15em;
  }
}
.no-mq .delivery h5, .no-mq
.top-right-block h5 {
  font-size: 2.15em;
}
@media (min-width: 61.25em) {
  .delivery h5,
  .top-right-block h5 {
    font-size: 2.85em;
  }
}
.no-mq .delivery h5, .no-mq
.top-right-block h5 {
  font-size: 2.85em;
}
.delivery h3,
.top-right-block h3 {
  font-size: 1.8em;
  color: #2B578C;
  margin-top: 0;
  text-align: center;
  padding: 0 1em;
  line-height: 1.3;
}
.delivery a,
.top-right-block a {
  display: block;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0.5em;
  text-decoration: none;
}
.delivery img,
.top-right-block img {
  margin-right: 0.5em;
}
.delivery img,
.delivery span,
.top-right-block img,
.top-right-block span {
  display: inline-block;
  vertical-align: middle;
}
.delivery .phone,
.top-right-block .phone {
  display: block;
  text-align: center;
  margin: 0 auto -2.3em;
}
@media (min-width: 61.25em) {
  .delivery .phone,
  .top-right-block .phone {
    display: inline-block;
    width: 100%;
    position: absolute;
    margin: 0;
    left: 0;
    bottom: 0;
  }
}
.no-mq .delivery .phone, .no-mq
.top-right-block .phone {
  display: inline-block;
  width: 100%;
  position: absolute;
  margin: 0;
  left: 0;
  bottom: 0;
}

.front-blocks-wrap {
  clear: both;
}
.front-blocks-wrap:after {
  content: "";
  display: table;
  clear: both;
}

.front-blocks {
  padding: 4em 1em;
  background: #EBEBEB;
  text-align: center;
  border-top: 3px solid #fff;
}
@media (min-width: 48em) {
  .front-blocks {
    float: left;
    width: 33.33%;
    vertical-align: top;
    height: 345px;
    padding: 4.5em 2em 0;
  }
}
.no-mq .front-blocks {
  float: left;
  width: 33.33%;
  vertical-align: top;
  height: 345px;
  padding: 4.5em 2em 0;
}
.front-blocks h5 {
  text-transform: uppercase;
  font-size: 3em;
  margin: 0;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1;
}
@media (min-width: 48em) {
  .front-blocks h5 {
    font-size: 3.15em;
  }
}
.no-mq .front-blocks h5 {
  font-size: 3.15em;
}
@media (min-width: 61.25em) {
  .front-blocks h5 {
    font-size: 3.85em;
  }
}
.no-mq .front-blocks h5 {
  font-size: 3.85em;
}
.front-blocks h6 {
  font-family: "bookmania", Georgia, serif;
  font-weight: 300;
  font-style: italic;
  font-size: 3em;
  margin: 0;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
@media (min-width: 48em) {
  .front-blocks h6 {
    font-size: 3.15em;
  }
}
.no-mq .front-blocks h6 {
  font-size: 3.15em;
}
@media (min-width: 61.25em) {
  .front-blocks h6 {
    font-size: 3.5em;
  }
}
.no-mq .front-blocks h6 {
  font-size: 3.5em;
}
.front-blocks a {
  text-decoration: none;
}
.front-blocks .btn {
  margin-top: 0.2em;
}
.front-blocks.beer, .front-blocks.bottom-center-block {
  background: url("../images/beer-bg.jpg") no-repeat;
  background-size: cover;
}
@media (min-width: 48em) {
  .front-blocks.beer, .front-blocks.bottom-center-block {
    padding-top: 6em;
  }
}
.no-mq .front-blocks.beer, .no-mq .front-blocks.bottom-center-block {
  padding-top: 6em;
}
.front-blocks.bottom-left-block, .front-blocks.wine-spirits {
  background: url("../images/bottom-left-block.jpg") no-repeat;
  background-size: cover;
}
@media (min-width: 48em) {
  .front-blocks.bottom-left-block, .front-blocks.wine-spirits {
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    padding-top: 3.2em;
  }
}
.no-mq .front-blocks.bottom-left-block, .no-mq .front-blocks.wine-spirits {
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  padding-top: 3.2em;
}
.front-blocks.bottom-right-block, .front-blocks.wotw {
    /*padding: 3em 1em 0;
    @include breakpoint($tablet, $no-query: '.no-mq') {
        padding: 3em 2em 0;
    }
    h6 {
        color: #3D3D3D;
        text-shadow: none;
        font-size:2.85em;
        line-height: 1.1;
        margin-bottom: 1.2em;
        -moz-font-feature-settings: "dlig";
        -webkit-font-feature-settings: "dlig";
        font-feature-settings: "dlig";
    }
    img {
        display: block;
        margin: 0 auto;
    }
}*/
  background: url("../images/bottom-right-block.jpg") no-repeat;
  background-size: cover;
}
@media (min-width: 48em) {
  .front-blocks.bottom-right-block, .front-blocks.wotw {
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    padding-top: 6.2em;
  }
}
.no-mq .front-blocks.bottom-right-block, .no-mq .front-blocks.wotw {
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  padding-top: 6.2em;
}

.wines-otw .wine-item {
  padding: 2em 0em;
  position: relative;
}
.wines-otw .wine-item:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 48em) {
  .wines-otw .wine-item {
    padding: 2em 2em;
  }
}
.no-mq .wines-otw .wine-item {
  padding: 2em 2em;
}
@media (min-width: 61.25em) {
  .wines-otw .wine-item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }
}
.no-mq .wines-otw .wine-item {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}
@media (min-width: 30em) and (max-width: 48em) {
  .wines-otw .wine-item .wine-thumbnail {
    margin-right: 2em;
    float: left;
    width: 30%;
  }
}
@media (min-width: 48em) {
  .wines-otw .wine-item .wine-thumbnail {
    margin-right: 2em;
    float: left;
    width: 30%;
  }
}
.no-mq .wines-otw .wine-item .wine-thumbnail {
  margin-right: 2em;
  float: left;
  width: 30%;
}
.wines-otw .wine-item .details {
  overflow: hidden;
}
.wines-otw .wine-item h3 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: .15em;
}
.wines-otw .wine-item h6 {
  font-weight: normal;
  font-size: 1.2em;
  margin-top: 0;
}
.wines-otw .wine-item img {
  display: block;
  width: auto;
  margin: 0 auto;
  max-height: 280px;
}
.wines-otw .wine-item .expires {
  color: #D01818;
}
.wines-otw .wine-item .expires .date {
  font-weight: 700;
}
.wines-otw .wine-item .price {
  font-size: 1.3em;
  display: inline-block;
}
.wines-otw .wine-item .reg-price {
  text-decoration: line-through;
  color: #A2A2A2;
}
.wines-otw .wine-item .special-price {
  background: #22C14C;
  font-weight: 700;
  padding: .15em .5em;
  color: #fff;
  margin: 0 .5em;
}
