.give-us-call {
    display: inline-block;
    margin: 0em 0 2em;
    background: $color-three;
    border-radius: 30px;
    color: #fff;
    @include breakpoint($tablet, $no-query: ".no-mq") {
      float: right;
      margin: -3.5em 0 3em;
    }
  span {
    padding: .5em 1em .5em 1em;
    display: inline-block;
    @include breakpoint($tablet, $no-query: ".no-mq") {
      padding: .5em 1em .5em 1.5em;
    }
  }
  .number-call {
    background: $color-two;
    border-radius: 30px;
    font-weight: 700;
    padding: .5em 1.5em;
    margin-right: -2px;
  }
  i {
    display: none;
    @include breakpoint($tablet, $no-query: ".no-mq") {
      display: inline-block;
    }
    font-size: 1.2em;
    vertical-align: middle;
    padding-right: .5em;
  }
}

.contact-form {
  iframe {
    margin: 1em 0;
  }
}

div#form-message {
    background: #eaeaea;
    padding: 1em;
    margin: 0 0 1em 0;
    font-weight: 700;
    border-radius: 3px;
    display: none;
}
div#fail {
    font-weight: 700;
    color: red;
    margin-top: 1em;
    display: none;
    p {
        margin:0;
    }
}
.webform-component {
    margin-bottom: 1em;
}
.g-recaptcha {
  margin-bottom: 2em;
}