/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	body {
	  background: $site-bg;
	  height: 100%;
	}
}
*, *:before, *:after { box-sizing: inherit; }

.wrap {
  max-width: $container_width;
  margin: 0 auto;
  padding: 0 1em;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    padding: 0 2em;
  }
}