header.site-header {
    margin: 0 auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    @include clearfix;
    display: block;
}

.logo-section {
  @include breakpoint($tablet, $no-query: ".no-mq") {
      @include grid-span(4,1);
    }
    @include breakpoint($desktop, $no-query: ".no-mq") {
      @include grid-span(2.4,1);
    }
}

.hours-location {
  @include breakpoint($tablet, $no-query: ".no-mq") {
      @include grid-span(6,7);
    }
    @include breakpoint($desktop, $no-query: ".no-mq") {
      @include grid-span(2.5,3.4);
      font-size: .9em;
    }
}

.top-nav {
  clear: both;
  @include breakpoint($desktop, $no-query: ".no-mq") {
      @include grid-span(7.5,5.5);
    }
}

.main-nav {
  @include breakpoint($desktop, $no-query: ".no-mq") {
      @include grid-span(7.5,5.5);
    }
}

.location {
  p {
    line-height: 1.4;
  }
}

.phone {
  margin: .2em 0 .5em;
}