<!DOCTYPE html>
<!--[if lte IE 8]><html class="no-js lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" {% if page.permalink == "/online-specials/" %}data-ng-app="specialsApp"{% endif %}><!--<![endif]-->
  {% include head.html %}
  <body {% if page.permalink == "/online-specials/" %}data-ng-controller="specialsCtrl"{% endif %} class="{{page.class}}">
      {% if page.url == "/index.html" %}
       <script type="text/javascript"> new Image().src = '//click.dsp.townsquaremedia.com/conv/70dfc83f73309f5a'; </script>
      {% endif %}
  <script type="text/javascript">var ssaUrl = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'pixel.dsp.townsquaremedia.com/iap/ed1232aa55539388';new Image().src = ssaUrl;</script>
  <!-- NEW TRACKING PIXEL -->
  <script type="text/javascript">new Image(1,1).src="//ad.ipredictive.com/d/track/cvt/pixel?acct_id=8662&cache_buster="+Math.floor(Date.now()/1000);</script>
<noscript>
 <img src="//ad.ipredictive.com/d/track/cvt/pixel?acct_id=8662&cache_buster=[timestamp]" height="1" width="1" style="display:none"></img>
</noscript>
  {% include browserupgrade.html %}
  {% include hours.html %}
  <div class="site-wrap">
    {% include header.html %}
      {{ content }}
    {% include footer.html %}
  </div>
  {% include scripts.html %}
  </body>
</html>
