<!DOCTYPE html>
<!--[if lte IE 8]><html class="no-js lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" {% if page.permalink == "/online-specials/" %}data-ng-app="specialsApp"{% endif %}><!--<![endif]-->
  {% include head.html %}
  <body {% if page.permalink == "/online-specials/" %}data-ng-controller="specialsCtrl"{% endif %}>
      {% if page.permalink == "/" %}
        <!--<script type="text/javascript">var ssaUrl = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'pixel.dsp.townsquaremedia.com/iap/ed1232aa55539388';new Image().src = ssaUrl;</script>-->
        <!--<script type="text/javascript"> new Image().src = '//click.dsp.townsquaremedia.com/conv/70dfc83f73309f5a'; </script>-->
      {% endif %}
  {% include browserupgrade.html %}
  {% include hours.html %}
  <div class="site-wrap">
    {% include header.html %}
      {{ content }}
    {% include footer.html %}
  </div>
  {% include scripts.html %}
  </body>
</html>
